  <body>
        <h1>Irwin Fuentes</h1>

        <table>
        <thead>
                <tr>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>URL</th>
                </tr>
        </thead>
        <tbody>
                <tr>
                        <td>project_0</td>
                        <td>Environment Set Up</td>
                        <td><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book#sec-rails_installer_windows">  /</a></td>
                </tr>



                <tr>
                        <td>project_1</td>
                        <td>Custom Home Page Route</td>
                        <td><a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book#sec-rails_installer_windows">  /</a></td>
                </tr>

        </tbody>
        </table>

